body {
  font-family: 'Lora', serif;
}
a {
  text-decoration: none;
  color: rgb(223, 95, 10);
}
.navbar {
  height: 8vh;
  /* width: 100vw; */
}
.navbar-text {
  margin: 0 30px;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  color: rgb(223, 95, 10);
  cursor: pointer;
}
.logo {
  display: inline;
  height: 8vh;
  vertical-align: middle;
}
.navbar-logo {
  margin-right: 6vw;
}
.navbar-login {
  margin-left: 7vw;
}
.background1 {
  width: 90%;
  height: 300px;
  text-align: center;
  margin-left: 5%;
  margin-top: 50px;
  padding-top: 50px;
  border-radius: 60px;
  font-size: 3rem;
  position: relative;
  color: #fff;
  background-color: rgb(109, 18, 18);
}
.card-detail-container {
  position: absolute;
  top: calc(8vh + 150px + 3rem);
  border-radius: 60px;
  height: 80%;
  width: 80%;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  border: 1px solid rgb(66, 65, 65);
  margin-left: 10%;
}
.first-container {
  height: 100vh;
}
.card-container {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: calc(80% - 60px);
  margin: 100px 70px;
  background-color: red;
}
.card-details {
  margin-top: 100px;
  margin-left: 65%;  
  display: inline-block;
}
.card-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}
.card-price {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 1.5rem;
  margin-left: 10px;
}
.card-dummy-price {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 1.2rem;
  margin-right: 60px;
}
.discount {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: rgb(16, 192, 45);
}
.description {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.582);
}
.try-button {
  margin-top: 40px;
  text-align: center;
  padding: 25px 80px;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: rgb(223, 95, 10);
  color: #fff;
  border: 0px;
  cursor: pointer;
}
.feature-text {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(223, 95, 10);
}
.second-container {
  border-radius: 60px;
  height: 40vh;
  width: 80%;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(141, 117, 117, 0.49);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  margin-left: 10%;
  border: 1px solid rgb(66, 65, 65);
}
.feature-img {
  width: 10vh;
  height: 10vh;
  margin-bottom: 30px;
}
.feature-item {
  color: rgb(223, 95, 10);
  font-size: 1.5rem;
  margin-top: 100px;
  width: 26vw;
  height: 40vh;
  text-align: center;
}
.third-container {
  border-radius: 60px;
  height: calc(31vw + 10vh);
  width: 80%;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(141, 117, 117, 0.49);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  margin-left: 10%;
  border: 1px solid rgb(66, 65, 65);
}
.similar-row {
  margin: 10vh 9vw;
  width: 60vw;
  border-collapse: separate;
  border-spacing: 2vw 0;
}
.similar-item {
  border-radius: 10px;
  text-align: center;
  width: 105px;
  height: 40vh;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(141, 117, 117, 0.49);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
}
.card-img {
  margin-top: 0.5vw;
  margin-bottom: 10px;
  width: 16vw;
  height: 24vw;
}
.price {
  margin-bottom: 10px;
  display: inline-block;
}
.dummy-price {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 5vw;
}
.discount-sim {
  margin-bottom: 10px;
  display: inline-block;
  color: rgb(16, 192, 45);
}