body,
html {
    margin: 0;
    padding: 0;
    overflow-y: hidden
}

.home_screen_container {
    padding-right: 0!important;
    padding-left: 0!important;
    width: 100%!important;
    height: 84vh!important;
    display: flex!important
}

.home_screen_img-1 {
    width: 100%;
    background-image: url("../img/web version.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.home_screen_img-2 {
    width: 100%;
    background-image: url(../img/website_home_page-c.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.main-display {
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: auto
}

.dropdown:hover .dropdown-menu {
    display: block
}

.Home-frist {
    display: flex;
    align-items: center
}

.birthday-button {
    float: left;
    box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, .3), -.1px -.1px 10px -5px rgba(0, 0, 0, .3);
    margin: 2% 2% .25% 2%;
    border-radius: 10px
}

.birthday-button-text {
    position: relative;
    bottom: -7.5px;
    color: #bd1d68;
    font-family: Merienda, cursive;
    font-size: 1.32vw;
    white-space: nowrap
}

.brithday-moblie {
    width: 100%;
    padding-bottom: 25px
}

.brithday-moblie>div>div>a>img {
    height: 70%;
    width: 75%;
    margin-top: 14%
}

.brithday-moblie-text {
    color: #bd1d68;
    font-family: Merienda, cursive;
    font-size: 130%
}

.anniversary-button {
    float: left;
    box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, .3), -.1px -.1px 10px -5px rgba(0, 0, 0, .3);
    margin: 20px 10px 20px 20px;
    border-radius: 10px
}

.anniversary-button>div>a>img {
    margin-top: 10px;
    height: 70%;
    width: 70%
}

.anniversary-button-text {
    position: relative;
    left: 0;
    color: #bd1d68;
    font-family: Merienda, cursive;
    font-size: 130%;
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: nowrap
}

.anniversary-mobile {
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center
}

.anniversary-mobile-text {
    margin-top: 5px;
    color: #bd1d68;
    font-family: Merienda, cursive;
    font-size: 135%
}

.container {
    scroll-snap-align: center;
    scroll-padding-top: 100px
}

.hello {
    scroll-snap-align: start;
    scroll-padding-top: 40px
}

.hello1 {
    scroll-snap-align: start;
    scroll-padding-top: 120px
}

.item-img {
    position: relative;
    float: left;
    display: block;
    width: 50%;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    animation: floating 5s -1s infinite
}

.feelings-category-svg-1 {
    height: 85%;
    width: 70%
}

.feelings-category-svg-2 {
    height: 85%;
    width: 70%
}

.feelings-category-svg-3 {
    height: 85%;
    width: 75%
}

.feelings-category-svg-4 {
    height: 95%;
    width: 80%
}

.feelings-category-svg-5 {
    height: 80%;
    width: 90%
}

.feelings-category-svg-6 {
    height: 60%;
    width: 80%
}

.feelings-category-svg-7 {
    height: 80%;
    width: 80%
}

@keyframes floating {
    0%,
    100% {
        transform: translateY(-5%)
    }
    50% {
        transform: translateY(0)
    }
}

.feeling-cards-title {
    font-size: 46px
}

.main-display::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px
}

.main-display::-webkit-scrollbar-track {
    background: #f1f1f1
}

.main-display::-webkit-scrollbar-thumb {
    background: #888
}

.main-display::-webkit-scrollbar-thumb:hover {
    background: #555
}

@media (max-width:767px) {
    .home_screen_container {
        height: 90vh!important;
        display: flex!important
    }
    .home_screen_img-1 {
        width: 100%;
        background-image: url(../img/mobile_web_version.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    .home_screen_img-2 {
        background-image: url(../img/Mobile_website_home_page.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    .main-display {
        scroll-snap-type: none
    }
    .back_img {
        width: 100%;
        background-image: url("../img/Just\ 2\ mins\ \(6\).png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
        object-fit: contain
    }
    .feeling-cards-title {
        font-size: 38px
    }
    .main-display::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }
    .anniversary-button>div>a>img {
        margin-top: 10px;
        height: 70%;
        width: 70%
    }
    .anniversary-button-text {
        position: relative;
        left: 0;
        color: #bd1d68;
        font-family: Merienda, cursive;
        font-size: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        white-space: nowrap
    }
}

@media (max-width:530px) {
    .home_screen_container {
        height: 90vh!important;
        display: flex!important
    }
    .home_screen_img-1 {
        width: 100%;
        background-image: url(../img/mobile_web_version.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    .home_screen_img-2 {
        width: 100%;
        background-image: url(../img/Mobile_website_home_page.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    .feelings-category-svg-1 {
        width: 110%
    }
    .feelings-category-svg-2 {
        width: 107%
    }
    .feelings-category-svg-3 {
        width: 110%
    }
    .feelings-category-svg-4 {
        width: 110%
    }
    .feelings-category-svg-5 {
        width: 110%
    }
    .feelings-category-svg-6 {
        width: 110%
    }
    .feelings-category-svg-7 {
        width: 110%
    }
}

.show-on-scroll {
    opacity: 0;
    -webkit-transition: opacity .8s .25s ease-out;
    transition: opacity .8s .25s ease-out
}

.show-on-scroll.is-visible {
    opacity: 1
}

.is-visible .show-on-scroll1 {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(10%, -10%)
}

.show-on-scroll1 {
    -webkit-transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform
}

.is-visible .show-on-scroll2 {
    -webkit-transform: translate(-5%, -15%);
    transform: translate(-5%, -20%)
}

.show-on-scroll2 {
    -webkit-transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform
}