body,html{
    background-color: white;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background: #888;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Header*/

.header {
    background-color: white;
    padding: 10px 50px;
    height: 80px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
  }
  
  .logo-image {
    width: 170px;
    height: auto;
  }
  
  .title-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title{
    color: #63225c;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-family: 'Merienda',cursive;
  }
  
  .user-details-container {
    width: 100%;
    height: 100%;
    display: none;
    justify-content:flex-end;
    align-items: center;
  }
  
  .user-profile-image-container{
    width: fit-content;
    height: 100%;
    margin-right: 20px;
  }
  
  .user-profile-image-container > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border : 1.5px solid rgb(65, 57, 57);
  }
  
  
  .user-name-container{
    width: fit-content;
    height: 100%;
    display: none;
    color: #63225c;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500;
}

/*Header*/


/* music-selection-popup */

.music-selection-popup{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,.8);
}

.dialog-box{
    width: 320px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    box-sizing: border-box;
    border-radius: 3px;
}

.dialog-box-title{
    width: 100%;
    text-align:start;
    font-size: 20px;
    font-weight: 700;
}

.music-name-container{
    width: 100%;
    text-align:center;
    font-size: 25px;
    font-weight: 600;
    color: #63225c;
    margin: 20px 0;
}

.dialog-box-control-button-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
}

.cancel-button{
    width: 80px;
    border: 1px solid rgb(230, 53, 53);
    padding:2px 5px;
    text-align: center;
    color: rgb(230, 53, 53);
    cursor: pointer;
}

.ok-button{
    width: 80px;
    border: 1px solid #08b961;
    text-align: center;
    color:#08b961;
    padding:2px 5px;
    cursor: pointer;

}

/* music-selection-popup */
.main-display{
    width: 100%;
    height: calc(100vh - 80px);
    padding: 20px;
}

.illustration-container{
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-title{
    font-size : 45px;
    color: #63225c;
    font-family: 'Merienda',cursive;
    font-weight: 700;
    text-align: center;
}

#lady-playing-guitar{
    width: 75%;
    min-width: 300px;
    height: auto;
}

.tagline{
    font-size:28px;
    text-align : center
}

.music-list-container{
    width: 100%;
    height: calc(100vh - 120px);
    padding: 15px 20px;
}

.music-list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.music-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
}

.music-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.music-list::-webkit-scrollbar-thumb {
  background: #888;
}

.music-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.audio-card-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-card{
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, .8);
    padding:25px 15px;
    color: #63225c;
    font-weight: 500;
}
  
.song-name{
    width: 100%;
    text-align: center;
    font-size:1.8vw;
}

.control-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.control-button > .button{
    width: fit-content;
    height: fit-content;
    padding : 5px 17px;
    border: 2px solid #63225c;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.4vw;
}

.control-button > .button > img{
    margin-right: 5px;
    width: 1.3vw;
    height: auto;
}

@media(max-width:1130px){
    .audio-card-container{
        padding: 10px 0;
    }
}

@media(max-width: 991px) {
    .song-name{
        font-size: 25px;
    }

    .control-button > .button{
        font-size: 18px;
    }

    .control-button > .button > img{
        width: 15px;
        height: auto;
    }

    .audio-card-container{
        padding: 10px;
    }
}

@media(max-width: 800px) {
    .tagline{
        font-size: 26px;
    }
}

@media(max-width: 767px) {
    .main-display{
        height: fit-content;
    }

    .illustration-container{
        min-height: fit-content;
    }
    .title-container{
        justify-content: flex-end;
    }
    
    .music-list-container{
        height: fit-content;
    }
}

@media(max-width:720px){
    .song-name{
        font-size: 20px;
    }

    .control-button > .button{
        font-size: 14px;
    }

    .control-button > .button > img{
        width: 10px;
        height: auto;
    }
}

@media(max-width:660px){
    .audio-card-container{
        padding: 10px 0;
    }

    .song-name{
        font-size: 18px;
    }

    .control-button > .button{
        font-size: 12px;
    }

}

@media(max-width:590px){
    .tagline{
        display: none;
    }

    .logo-image {
        width: 130px;
    }
    
    .header {
        height: 70px;
        padding: 10px;
    }
    
    .title{
        font-size: 5vw;
    }

    .category-title{
        font-size: 8vw;
    }
}

@media(max-width:575px){
    .control-button > .button{
        font-size: 16px;
    }

    .control-button > .button > img{
        width: 12px;
    }

    .dialog-box{
        width: 90vw;
        max-width: 320px;
    }
}

@media(max-width:350px){
    .music-list-container{
        padding:15px 5px;
    }
}